@model IEnumerable<SakalliTicaret.Core.Model.Entity.MailDesign>
@{
    ViewBag.Title = "Mail Tasarımları";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    <div class="card">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MailType)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MailType)
                    </td>
                    <td>
                        <a href="/Panel/MailDesign/Edit/@item.Id" title="Düzenle"><i class="fa fa-refresh"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>