.basketdiv {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background: #fff;
    z-index: 9999999;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    display: none;
}

.basketBaslik {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 16px;
}

.basketItem ul {
}

    .basketItem ul li {
        border-bottom: 1px solid #ddd;
    }

        .basketItem ul li .basketimagediv {
            width: 80px;
            height: 80px;
            overflow: hidden;
            float: left;
        }

        .basketItem ul li img {
            width: 100%;
        }

        .basketItem ul li .basketProductInfo {
            width: 200px;
            height: 80px;
            float: left;
            line-height: 0;
            padding: 0 0 0 10px;
            box-sizing: border-box;
        }

            .basketItem ul li .basketProductInfo h3 {
                font-size: 14px;
                line-height: 0;
                margin: 25px 0 30px 0;
            }

            .basketItem ul li .basketProductInfo span {
                font-size: 12px;
                color: #78909c;
            }

.basketfooter {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: #F14F2F;
    position: absolute;
    bottom: 0;
}

    .basketfooter a {
        font-weight: bold;
        color: #fff;
    }

#basketListOpen {
    cursor: pointer;
}

.baslikborder {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 0 0 10px 0;
}

.basketlist .table-fill {
    width: 100%;
}

    .basketlist .table-fill .sepetimage {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .basketlist .table-fill tbody tr {
        height: 120px;
        border-bottom: 1px solid #ddd;
    }

    .basketlist .table-fill tbody tr:last-child {
        border: 0;
    }

    .basketlist .table-fill .sepetimage img {
        width: 100%;
    }

    .basketlist .table-fill thead tr {
        border-bottom: 1px solid #ddd;
        height: 40px;
    }
    .sepetislemler {
        text-align: right
    }
    .sepetbos {
        text-align: center;
    }