
.basketdiv {
    width: 260px;
    background: #fff;
    position: absolute;
    border: 1px solid #ddd;
    z-index: 9999999;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    left: 30px;
    display: none;
}

    .basketdiv .basketItem {
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

.basketItem ul li {
    border-bottom: 1px solid #ddd;
    display: block;
}

    .basketItem ul li .basketimagediv {
        width: 80px;
        height: 80px;
        overflow: hidden;
        float: left;
    }

    .basketItem ul li img {
        width: 100%;
    }

    .basketItem ul li .basketProductInfo {
        width: 160px;
        height: 80px;
        float: right;
        line-height: 0;
        padding: 0 0 0 0px;
        box-sizing: border-box;
        text-align: left;
    }

        .basketItem ul li .basketProductInfo h3 {
            font-size: 11px;
            line-height: 0;
            margin: 25px 0 30px 0;
        }

        .basketItem ul li .basketProductInfo span {
            font-size: 12px;
            color: #78909c;
        }

.basketfooter {
    width: 100%;
    padding: 7px 0;
    text-align: center;
    background: #F14F2F;
}

    .basketfooter a {
        font-weight: bold;
        color: #fff;
    }

#basketListOpen {
    cursor: pointer;
}

.baslikborder {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 0 0 10px 0;
}

.table-fill {
    width: 100%;
}

    .table-fill .sepetimage {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .table-fill tbody tr {
        height: 120px;
        border-bottom: 1px solid #ddd;
    }

        .table-fill tbody tr:last-child {
            border: 0;
        }

    .table-fill .sepetimage img {
        width: 100%;
    }

    .table-fill thead tr {
        border-bottom: 1px solid #ddd;
        height: 40px;
    }

.sepetislemler {
    text-align: right;
}

.sepetbos {
    text-align: center;
}

.basketproperylist li {
    display: inline-block;
    border-left: 1px solid #ddd;
    padding: 0 3px;
    margin: 5px 0 0 0;
}

    .basketproperylist li:first-child {
        border: 0;
    }
