.adreslist li {
    width: 250px;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 1em 1em;
    padding: 1em;
    cursor: pointer;
}

.isHidden {
    display: none; /* hide radio buttons */
}

.label {
    display: inline-block;
    background-color: red;
    width: 120px;
    height: 120px;
    padding: 5px 10px;
}

.radio:checked + .label { /* target next sibling (+) label */
    background-color: blue;
}

.AktifAdres {
    border-color: #2e8b57 !important;
}

.productStyle {
    display: inline-block;
    position: relative;
    /*margin: 0 0 10px  10px;*/
    box-sizing: border-box;
}

    .productStyle .card-body .card-title {
        height: 50px;
        font-size: 1em;
    }

.basketCreate {
    font-size: 0.8em;
    padding: 0 8px;
    /*float: right;*/
    border: 1px solid #F14F2F;
    background: transparent;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
}

    .basketCreate:hover {
        background: #F14F2F;
        color: #fff;
    }

        .basketCreate:hover i {
            color: #fff;
        }

    .basketCreate i {
        font-size: 1.2em;
        color: #F14F2F;
        margin: 0 5px 0 0;
    }

.incele {
    font-size: 0.8em;
    padding: 5px 8px;
    /*float: right;*/
    border: 1px solid #F14F2F;
    background: transparent;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
    margin: 0 0 0 10px;
}

    .incele:hover {
        background: #F14F2F;
        color: #fff;
    }

        .incele:hover i {
            color: #fff;
        }

    .incele i {
        font-size: 1.2em;
        color: #F14F2F;
        margin: 0 5px 0 0;
    }


.kategoriBaslik {
    background: #555555;
    color: #fff;
    padding: 5px 15px;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 60vh;
    /*background-color: #222;*/
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 490px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

    .notfound .notfound-404 {
        height: 158px;
        line-height: 153px;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Josefin Sans', sans-serif;
            color: #222;
            font-size: 220px;
            letter-spacing: 10px;
            margin: 0px;
            font-weight: 700;
            text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
        }

            .notfound .notfound-404 h1 > span {
                text-shadow: 2px 2px 0px #F14F2F, -2px -2px 0px #F14F2F, 0px 0px 8px #F14F2F;
            }

    .notfound p {
        font-family: 'Josefin Sans', sans-serif;
        color: #222;
        font-size: 16px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .notfound a {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: transparent;
        color: #222;
        border: 2px solid #222;
        display: inline-block;
        padding: 10px 25px;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound a:hover {
            color: #F14F2F;
            border-color: #F14F2F;
        }

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

        .notfound .notfound-404 h1 {
            font-size: 122px;
        }

    .basketdiv {
        display: none !important;
    }

    .flexslider .slides > li {
        height: 161px;
    }

    .flexslider .slides img {
        height: 161px;
    }

    .flex-direction-nav {
        display: none;
    }
    .section-separator {
        padding-top: 0 !important;
    }
}
