@using SakalliTicaret.Core.Model.Entity
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    User user = Session["LoginUser"] as User;

}
<h5>
    Adres Listesi
</h5>

<hr />