
@model SakalliTicaret.Core.Model.Entity.User
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";


}
<h5>
    Üyelik Bilgilerim
</h5>

<hr />

<form>
    <div class="col-md-6">
        <div class="form-group">
            <label for="formGroupExampleInput">İsim</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" value="@Model.Name">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="formGroupExampleInput">Soyisim</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" value="@Model.LastName">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="formGroupExampleInput">Telefon</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" value="@Model.Telephone">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="formGroupExampleInput">Email</label>
            <input type="text" disabled="disabled" class="form-control" id="formGroupExampleInput" placeholder="Example input" value="@Model.Email">
        </div>
    </div>
</form>