
@{
    ViewBag.Title = "KayitBasarili";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}
<div class="col-md-2"></div>
<div class="col-md-8 text-center">
    <i class="fa fa-check-circle" style="color:#008000; font-size: 100px;"></i>
    <h2>Başarılı Bir Şekilde Kayıt Oldunuz.</h2>
    <hr/>
    <h4>Mail Adresinizi Kontrol Ederek Üyeliğinizi Aktifleştiriniz.</h4><hr/>
    <h4 class="margin-b-15">Giriş Sayfasına Yönelendiriliyorsunuz.</h4>
</div>
<div class="col-md-2"></div>
@section AdditionalMeta
{
    <meta http-equiv="refresh" content="2; URL=/Kullanici/Giris">
 
}
