
@model SakalliTicaret.UI.WEB.Models.FilterModel
@{
    ViewBag.Title = "Sakalli Ticaret | İyi Alışverişler";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}

<div class="col-md-3 left-menu-wrapper">
    <div class="xt-sidenav hidden-xs hidden-sm">
        <nav>
            <ul class="xt-side-menu">
                <li>
                    <a href="#">Kategoriler</a>
                    <ul class="xt-dropdown">
                        @{Html.RenderAction("SliderMenu", "Companent");}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

@if (Model.Products != null)
{
    @Html.Partial("_Products", @Model)
}   
else
{
<div class="alert alert-dark" role="alert">
    Üzgünüz! Aradığınız kriterlere uygun ürün bulunamadı.
</div>
}
