@model List<SakalliTicaret.Core.Model.Entity.Product>

@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}
<div class="col-md-3 left-menu-wrapper">
    <div class="xt-sidenav hidden-xs hidden-sm">
        <nav>
            <div class="kategoriBaslik">Kategoriler</div>
            <ul class="xt-side-menu">


                @{Html.RenderAction("SliderMenu", "Companent");}

            </ul>
        </nav>
    </div>
</div>
@{Html.RenderAction("IndexProcudt", "Companent");}
