@model IEnumerable<SakalliTicaret.Core.Model.Entity.PropertyPropertyValues>
<div class="row">
    <div class="col-12">
        <label class="control-label" for="Price">Ürün Özellikleri</label>

    </div>
    @foreach (var item in Model.GroupBy(x => x.CategoryProperty))
    {
        <div class="col-2">


            @item.Key.Name :<br />
            @foreach (var itemValue in item)
                {
                @*@itemValue.CategoryPropertyValue.Value
                    @Html.CheckBox(itemValue.CategoryPropertyValue.Value)*@
                <input type="checkbox" name="SelectedProperty" value="@itemValue.Id" /> @itemValue.CategoryPropertyValue.Value<br />
            }

        </div>
    }



</div>