@model IEnumerable<SakalliTicaret.Core.Model.Entity.PropertyPropertyValues>
<div class="row">
    <label class="control-label" for="Price">Ürün Özellikleri</label>
    @*<div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="Price">Fiyat</label>

            <input class="form-control text-box single-line" data-val="true" data-val-number="The field Fiyat must be a number." data-val-required="Fiyat alanı gereklidir." id="Price" name="Price" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="Price" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="Tax">Vergi</label>
            <input class="form-control text-box single-line" data-val="true" data-val-number="The field Vergi must be a number." id="Tax" name="Tax" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="Tax" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="Discount">İndirim</label>

            <input class="form-control text-box single-line" data-val="true" data-val-number="The field İndirim must be a number." data-val-required="İndirim alanı gereklidir." id="Discount" name="Discount" type="text" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="Discount" data-valmsg-replace="true"></span>
        </div>
    </div>*@
</div>