@using PagedList.Mvc
@model PagedList.IPagedList<SakalliTicaret.Core.Model.Entity.Product>
@{
    ViewBag.Title = "MRCPanel | Ürün Listesi";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

@Html.PagedListPager(Model, page => Url.Action("Index", new RouteValueDictionary
    {
        {"Page", page},
        {"PageCount", 30}
    }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "urunDiv" }
    ))


@if (Model != null)
{
    @Html.Partial("_PanelProducts", Model)
}
else
{
    <div class="alert alert-dark" role="alert">
        Üzgünüz! Aradığınız kriterlere uygun ürün bulunamadı.
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new RouteValueDictionary
    {
        {"Page", page},
        {"PageCount", 30}
    }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "urunDiv" }
    ))

