@model IEnumerable<SakalliTicaret.Core.Model.Entity.ProductImages>

@{
    ViewBag.Title = "MultipleImageUpload";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/dropzone/dropzone.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<div class="col-12">
    <div class="card">
        <div class="card-body">
            @*<div class="row">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-lg-1 col-md-2 m-b-20" style="height: 120px; overflow: hidden">
                            <i class="fa fa-times"></i>
                            <img src="@item.ImagesUrl" class="img-responsive radius" style="width: 100%;">

                        </div>

                    }
                }
                else
                {
                    <h4 class="card-title">Ürüne Ait Resim Bulunamadı.</h4>

                }
            </div>*@
            <div class="row">
                @if (Model.Count() != 0)
                {
                    foreach (var item in Model)
                    {
                        @*<div class="col-lg-1 col-md-2 m-b-20" style="height: 120px; overflow: hidden">
                            <i class="fa fa-times"></i>
                            <img src="@item.ImagesUrl" class="img-responsive radius" style="width: 100%;">

                        </div>*@
                        <div class="col-sm-2">
                            <a href="/Panel/Products/ImagesRemove?id=@item.Id" class="float-right color-danger">
                                <i class="fa fa-times"></i>
                            </a>
                            <img src="@item.ImagesUrl" alt="attachment" class="img-thumbnail img-responsive">

                        </div>

                    }
                }
                else
                {
                    <div class="col-12 text-center">
                        <h4 class="card-title">Ürüne Ait Resim Bulunamadı.</h4>    
                    </div>
                    

                }
                @*<div class="col-sm-2">
                    <a href="#"> <img src="images/attached-files/img-1.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                </div>
                <div class="col-sm-2">
                    <a href="#"> <img src="images/attached-files/img-2.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                </div>
                <div class="col-sm-2">
                    <a href="#"> <img src="images/attached-files/img-3.jpg" alt="attachment" class="img-thumbnail img-responsive"> </a>
                </div>*@
            </div>
       
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Toplu Resim Yükleme</h4>
            <form action="/Products/ImageUpload" class="dropzone" id="dropzoneJsForm"></form>
        </div>
    </div>
</div>


<script type="text/javascript">
    Dropzone.options.dropzoneForm =
    {
        init: function () {
            this.on("complete", function (data) {
                //var res = eval('(' + data.xhr.responseText + ')');
                var res = JSON.parse(data.xhr.responseText);
            });
        }
    };
</script>