<div class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label"></li>
                <li>
                    <a href="/Panel/Default/">
                        <i class="ti-home"></i>
                        <span>Giriş</span>
                    </a>
                </li>
                <li>
                    <a href="~/Anasayfa">
                        <i class="ti-rocket"></i>
                        <span>Site Giriş</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-archive"></i><span class="hide-menu">Ürün İşlemleri</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Panel/Products/">Listele </a></li>
                        <li><a href="/Panel/Products/Create">Ekle</a></li>
                        <li><a href="/Panel/LogProducts">Ürün Hareketleri</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-align-left"></i><span class="hide-menu">Kategori İşlemleri</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Panel/Categories/">Listele </a></li>
                        <li><a href="/Panel/Categories/Create">Ekle</a></li>
                        <li><a href="/Panel/LogCategories">Kategori Hareketleri</a></li>
                        <li><a href="/Panel/CategoryProperties">Kategori Özellikleri</a></li>
                        <li><a href="/Panel/CategoryProperties/Create">Kategori Özellik Ekle</a></li>
                        <li><a href="/Panel/CategoryPropertyValues">Kategori Özellikleri Değerleri</a></li>
                        <li><a href="/Panel/CategoryPropertyValues/Create">Kategori Özellik Değeri Ekle</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-user"></i><span class="hide-menu">Kullanıcı İşlemleri</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Panel/Users/">Listele </a></li>
                        <li><a href="/Panel/Users/Create">Ekle</a></li>
                        <li><a href="/Panel/LogUsers">Kullanici Hareketleri</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-star"></i><span class="hide-menu">Sosyal Medya İşlemleri</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Panel/SocialMedias/">Listele </a></li>
                        <li><a href="/Panel/SocialMedias/Create">Ekle</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-file"></i><span class="hide-menu">Sayfa İşlemleri</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Panel/Pages/">Listele </a></li>
                        <li><a href="/Panel/Pages/Create">Ekle</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-shopping-basket"></i><span class="hide-menu">Sipariş İşlemleri </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Panel/BasketAndOrders/">Listele</a></li>
                        @*<li><a href="/Panel/LogBaskets/">Listele</a></li>*@
                    </ul>
                </li>
                <li>
                    <a class="has-arrow  " href="#" aria-expanded="false">
                        <i class="fa fa-cogs"></i><span class="hide-menu">Ayarlar</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Panel/Settings/Settings">Ayarlar</a></li>
                        <li><a href="/Panel/Settings/MailSettings">Mail Bilgileri</a></li>
                        @*<li><a href="/Panel/LogBaskets/">Listele</a></li>*@
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

