
@model IEnumerable<SakalliTicaret.Core.Model.Entity.Category>
@foreach (var item in Model)
{
    <li><a href="/Kategori/@item.ID/@item.Name.Trim()"><i class="fa flaticon-menu"></i>@item.Name</a></li>
}
