 <div class="flexslider xt-slider-inner">
    <ul class="slides">
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
            <img src="~/Content/Images/model-five.jpg" />
            <div class="slide_text">
                <span class="slide-category">Fashion</span>
                <h2 class="slide_title">Spring Summer <br> Fashion Collection</h2>
                <p class="slide_byline ">
                    Lorem ipsum dolor sit amet, consectetur adipis
                    cing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua ut enim ad minim.
                </p>
                <a href="" class="btn btn-fill ">Shop Now</a>
            </div>
        </li>
        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
            <img src="~/Content/Images/model-four.jpg" />
            <div class="slide_text">
                <span class="slide-category">Style</span>
                <h2 class="slide_title ">Winter Autumn <br> Jacket Collection</h2>
                <p class="slide_byline ">
                    Usher in the summer months with showerproof jackets
                    and lightweight boys' coats. Items are great to be presented
                    loved ones and the reasonable price makes the collection suitable.
                </p>
                <a href="" class="btn btn-fill ">Shop Now</a>
            </div>
        </li>
        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
            <img src="~/Content/Images/model-three.jpg" />

            <div class="slide_text">
                <span class="slide-category">Spring Collection</span>
                <h2 class="slide_title ">Spring Upcomming <br> New Collection</h2>
                <p class="slide_byline ">
                    Bags, Glasses and belts are all of the best quality
                    and are made by famous brands in this area. Vitrine helped
                    them to show their products better and sell more.
                </p>
                <a href="" class="btn btn-fill ">Shop Now</a>
            </div>
        </li>
    </ul>
    <ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul>
</div>
<div class="flexslider-controls">
    <ol class="flex-control-nav">
        <li class="">
            <img src="~/Content/Images/model-five-thumb.jpg" />
            <div class="nav-title">
                <span>Fashion</span>
                <h3>Spring Summer Fashion Collection</h3>
            </div>
                            
        </li>                            
        <li class="">
            <img src="~/Content/Images/model-three-thumb.jpg" />
            <div class="nav-title">
                <span>Style</span>
                <h3>Winter Autumn Jacket COllection</h3>
            </div>
                            
        </li>                            
        <li class="flex-active">
            <img src="assets/images/model-three-thumb.jpg" alt=""> 
            <div class="nav-title">
                <span>Spring</span>
                <h3>Spring New Collection 2018</h3>
            </div>
                            
        </li>
    </ol>
</div>
