
@model IEnumerable<SakalliTicaret.Core.Model.Entity.Category>

@foreach (var item in Model)
{
    <li><a href="/Anasayfa/@item.ID/@item.Name.ToLower().Trim()"><i class="fa fa-circle"></i>@item.Name</a></li>
}
