
@{
    ViewBag.Title = "PaymentError";
    Layout = "~/Views/Shared/_LayoutPageBlank.cshtml";
}
<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="card">
        <div class="card-body text-center">
            <i style="font-size: 60px; color:red;" class="fa fa-times"></i>
            <br />
            <h4>Ödeme İşleminde Hata Oluştu.</h4>
            <a href="/Anasayfa" class="btn btn-primary">Ana Sayfa</a>
        </div>
    </div>

</div>
<div class="col-md-3"></div>


